Daniela Porras 
Week 3 Assignment: Tracking Bicycle Miles with Pandas

1. Importing pandas

In [2]:
import pandas as pd

2. Creating the Cumulative Miles Series

In [3]:
# Creating a pandas series for cumulative miles
cumulative_miles = pd.Series([55, 120, 190, 270, 350, 450, 550])

#Displaying the cumulative miles
print("Cumulative Miles at the End of Each Day:")
print(cumulative_miles)

Cumulative Miles at the End of Each Day:
0     55
1    120
2    190
3    270
4    350
5    450
6    550
dtype: int64

3. Calculating Daily Miles Ridden

In [6]:
# Calculating daily miles ridden
daily_miles = cumulative_miles.diff().fillna(cumulative_miles.iloc[0])

# Displaying the daily miles ridden
print("\nMiles Ridden Each Day:")
print(daily_miles)

Miles Ridden Each Day:
0     55.0
1     65.0
2     70.0
3     80.0
4     80.0
5    100.0
6    100.0
dtype: float64

4. Creating a DataFrame for Better Presentation

In [9]:
# Creating a DataFrame for a clearer presentation
bike_data = pd.DataFrame({
    "Day": range(1, len(cumulative_miles) + 1),
    "Cumulative Miles": cumulative_miles,
    "Miles Ridden": daily_miles
})

# Displaying the DataFrame
from IPython.display import display

display(bike_data)

   Day  Cumulative Miles  Miles Ridden
0    1                55          55.0
1    2               120          65.0
2    3               190          70.0
3    4               270          80.0
4    5               350          80.0
5    6               450         100.0
6    7               550         100.0